{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}ObrazkiwbazieBundle:ObrazkiwKategorii:show{% endblock %}

{% block page %}
    <div id="tresc">
        <h2>{{ entity.NazwaObrazka }}</h2>

        <img src="{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}"/>

        <p><a href="{{ path('kategoirie') }}">powrot</a></p>


    </div>
{% endblock %}
