{% extends 'ObrazkiwbazieBundle:ObrazkiwKategorii:index.html.twig' %}

{% block produkt %}
    <div class="col-sm-6" style="background-color:lavenderblush;">
        {#<h2>{{ entity.NazwaObrazka }}</h2>#}

        <img src="{{ asset(entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}"/>

        <p><a href="{{ path('kategoirie') }}">powrot</a></p>


    </div>
    <div class="col-sm-3" style="background-color:lavenderblush;">
        {% block formularz %}
            <br/>
            <p>Jakiś opis jeśli chcesz ale taki sam dla wszystkich obrazków</p>



            {{ form(form) }}

        {% endblock %}

    </div>

{% endblock %}

