

{% block title %}ObrazkiwbazieBundle:wrap:Custom{% endblock %}


<h1>Welcome to the wrap:Custom page</h1>
{#<img src="{{ asset(entity.getUploadRootDir~'/'~ entity.getUploadMinaturkaDir~'/' ~ entity.nazwaObrazka  ) }}"/>#}
